import url('src/jquery.lcars.bootstrap.css');

/* Eigene Schriftart LCARS einbinden ******************************************/
@font-face {
  font-family: LCARSGTJ3;
  src: url('font/LCARS.eot');   /* EOT file for IE */
} 
@font-face {
  font-family: LCARSGTJ3;
  src: url('font/LCARS.ttf');
}


/*
  Color grau  - #666666
        blau  - #336699 
        orange- #FF9900
        hellblau - #99CCFF

*/


/* body ***********************************************************************/
/*        font-size:          Schriftgroesse auf 25px                         */
/*        font-family:        Hauptschrift auf LCARS                          */
body {
      background:#0A101A;
      color:#fff;
      font-size:25px;
      font-family: LCARSGTJ3;
      margin:0;
      padding:0;
      overflow-x:hidden;
      overflow-y:hidden;
      -webkit-tap-highlight-color:rgba(0,0,0,0) ;     
      -webkit-scrollbar-display: none;
    } 

/* --------------------------------------------
* TO DO (OR NOT TO DO)
* --------------------------------------------
*/
.ipsTabPane > .navigation > .sub {
    display: none;
}
.scrollLeft, .scrollRight {
    display: none;
}
/* known issue: .ipsTabPane > .navigation > .scroll > .buttons > div > .title: no word wrap in Chrome */

/* known issue: IPSCam Bug: An/Aus nicht sichtbar:
Hack für kurze Leisten: geringe Breite, Inhalt sichtbar => childContainer Elemente zu klein
*/
/*
.ipsCategory > .container .content .title {
width: 20px;
overflow: visible;
} */

/* SCROLLBARS */
/*
.ipsContainer .content {
scrollbar-base-color: #FF9900?;
scrollbar-track-color: #000000;
scrollbar-face-color: #FF9900?;
scrollbar-highlight-color: #FF9900?;
scrollbar-3d-light-color: #000000;
scrollbar-darkshadow-color: #FF9900?;
scrollbar-shadow-color: #FF9900?;
scrollbar-arrow-color: #000000;
}
::-webkit-scrollbar { width: 3px; height: 3px;}
::-webkit-scrollbar-button { background-color: #FF9900?; }
::-webkit-scrollbar-track { background-color: #FF9900?;}
::-webkit-scrollbar-track-piece { background-color: #000000;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #FF9900?; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #000000;}}
::-webkit-resizer { background-color: #FF9900?;}
*/

/* --------------------------------------------
* DONE
* --------------------------------------------
*/
[class^="ipsIcon"], [class*=" ipsIcon"] {
    font-size: 24px;
}
.ipsWebFront {
    top: 26px;
    height:95%;
    background: #000000;
}
.ipsCategory > .container {
    border: 0 none;
    background: none transparent;
}
.ipsCategory > .container .childContainers, .ipsCategory>.container .extended>.media {
    border: 0 none;
    background: none transparent;
}
.ipsCategory > .container .childContainers > div {
    border: 0 none;
    overflow: visible;
}
.ipsWebFront .ipsContainer .content {
    overflow: hidden;
}
.ipsWebFront .ipsContainer .content.exclusive,
.ipsWebFront .ipsContainer .content .ipsContainer .content {
    overflow: hidden;
}
.ipsSplitPane {
    overflow: hidden;
}
.ipsWebFront > .ipsContainer > .content.exclusive,
.ipsWebFront > .ipsContainer > .content > .ipsContainer > .content,
.ipsWebFront > .ipsContainer > .content > .ipsContainer > .ipsContainer > .content,
.ipsWebFront > .ipsContainer > .content > .ipsCategory > .ipsTabPane > .content.exclusive {
    margin-bottom: 26px; /* Korrektur zu unteren LCARS-Leiste */
}
.ipsSplitPane.border > .top, .ipsSplitPane.border > .left, .ipsSplitPane.border > .bottom, .ipsSplitPane.border > .right {
    border: 0 none;
}
.ipsCategory>.container .content .title, .ipsCategory > .container .content .visual {
    font-size: 22px;
}

.ipsWebFront:before, .ipsWebFront .ipsContainer .content .ipsContainer .navigation:before {
    content: "";
    display: block;
    background: url("src/Line.png") no-repeat;
    width: 100%;
    height: 26px;
    margin: -26px 6px -3px 3px;
    background-color: #336699;
    background-position: 0 -31px;
}
.ipsWebFront .ipsContainer .content .ipsContainer .navigation:before {
    margin-top: 0;
    background: url("src/Line2.png") no-repeat;
    background-color: #336699;
    background-position: 0 -31px;
}
.ipsWebFront .ipsContainer .content .ipsContainer .content .ipsContainer .ipsContainer .navigation:before {
    background-image: none;
    background-color: transparent;
    height: 0;
}
.ipsWebFront:after {
    content: "";
    display: block;
    background: url("src/Line.png") no-repeat;
    width: 100%;
    height: 26px;
    margin: 0 6px 3px 3px;
    background-color: #336699;
    background-position: 0 0;
    position: absolute;
    bottom: 0px;
}

.ipsTabPane > .navigation {
    height: 96%;
    background-image: none;
    background-color: #000000;
    border-bottom: 0;
    float: left;
}
.ipsWebFront div.ipsContainer div.content div.ipsContainer div.content div.ipsContainer div.ipsContainer div.navigation {
    width: 100px;
    float: left;
}
.ipsTabPane > .navigation > .scroll {
    height: 100%;
    padding: 0 0;
    overflow: visible;
}
.ipsWebFront > .ipsTabPane > .navigation > .scroll {
    overflow: hidden;
    background: none repeat scroll 0 0 #336699;
    width:120px;
}
.ipsTabPane > .navigation > .scroll {
    background: none repeat scroll 0 0 #336699;
    width:120px;
}
/* Menü, 2. Ebene */
.ipsTabPane > .content > .ipsTabPane > .navigation > .scroll {
    margin-top: 3px;
}
.ipsTabPane > .content {
    left: 135px; /* 91  oder 135 ???????*/
    background-image: none;
}
/* --------------------------------------------
* CONTENT
* --------------------------------------------
*/
.ipsWebFront .ipsContainer .content .ipsContainer .content .ipsContainer .content {
    top: 10;
    /* left: 0;*/
    float: left;
}

.ipsWebFront > .ipsContainer > .content > .ipsContainer > .content > .ipsContainer > .ipsContainer > .content {
    left: 100px;
}
.ipsWebFront > .ipsContainer > .content > .ipsContainer > .content > .ipsContainer > .ipsContainer > .content.exclusive {
    left: 0;
}
.ipsWebFront > .ipsContainer > .content > .ipsContainer > .content > .ipsContainer > .ipsContainer > .content > .ipsContainer > .ipsContainer > .exclusive {
    /*left: 100px;*/
}
/* Dritte Ebene */
.ipsWebFront .ipsContainer .content .ipsContainer .ipsContainer .content {
    /*left: 0px; */
    top: 19px;
    float: left;
}
.ipsWebFront > .ipsContainer > .content > .ipsCategory > .ipsTabPane > .content {
    left: 100px;
}
.ipsWebFront > .ipsContainer > .content > .ipsCategory > .ipsTabPane > .content.exclusive {
    left: 0;
}

/* Zweite Ebene: Untermenüpunkt, z.B. Räume > Garten */
.ipsWebFront .ipsContainer .content .ipsContainer .ipsContainer .content .ipsContainer .ipsContainer .content {
    left: 0px;
    width: 100%;
}
.ipsWebFront .ipsContainer .content .ipsContainer .content .ipsContainer .ipsContainer .content .ipsSplitPane {
    /* left: 90px; */
}
.ipsWebFront .ipsContainer .content .ipsContainer .ipsContainer .content .ipsContainer .ipsContainer .content .ipsContainer {
    position: relative;
    /*height: 90%;*/
}
html.js body .ipsWebFront .ipsContainer .content {
    top: 40px;
    /*left: 105px;*/
}
.ipsWebFront .ipsContainer .content .ipsContainer .content {
    top: 19px;
    left: 135px;
}
/* ChildContainer */
.ipsWebFront > .ipsContainer > .content > .ipsContainer > .ipsContainer > .content > .ipsContainer > .ipsContainer > .childContainers > .ipsContainer {
    float: left;
}
/* --------------------------------------------
* BUTTONS, TITLE, ICOKNS
* --------------------------------------------
*/
.ipsTabPane > .navigation > .scroll > .buttons {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #000000;
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 120px;
    height: 100%;
}
.ipsTabPane > .navigation > .scroll > .buttons > div {
    border-bottom: 2px solid #000000;
    display: block;
    border-left: 0;
    height: auto;
    margin: 0;
    padding: 0;
    text-align: right;
    width: 100%;
    height: 85px;
    background-color: #336699;
    color: #000000;
    font-family: LCARSGTJ3;
    font-size: 30px;
    text-decoration: none;
    opacity: 1;
}
.ipsTabPane > .navigation > .scroll > .buttons > div > .ipsContainer > .navigation > .buttons {
    height: 30px;
}
.ipsTabPane > .navigation > .scroll > .buttons > div > .title {
    float: right;
    text-transform: uppercase;
    display: block;
    width: 100px;
    margin: 20px 5px;
    height: 50px;

    -ms-word-break: break-all;
    word-break: break-all;

    /* Non standard for webkit */
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
.ipsTabPane > .navigation > .scroll > .buttons > div.active {
    border-color: #000000;
    background-color: #666666;
    border-bottom: 2px solid;
}
.ipsTabPane > .navigation > .scroll > .buttons > div > .icon {
    float: right;
}
.ipsTabPane > .navigation > .scroll > .buttons.subHidden > div:first-child {
    border-bottom: 2px solid #000000;
    border-top: 2px solid #000000;
}/*
.ipsTabPane > .navigation > .scroll > .buttons > div:last-child {
height: 100%;
border-bottom: 2px solid #000000;
display: block;
border-left: 0;
margin: 0;
padding: 0;
text-align: right;
width: 100%;
height: 85px;
background-color: #FF9900;
color: #000000;
font-family: lcars_font;
font-size: 20px;
text-decoration: none;
opacity: 1;
}*/
.ipsWebFront .ipsContainer .content .ipsContainer .ipsContainer .content .ipsContainer .ipsContainer .content .ipsContainer .ipsContainer {
    height: auto;
}

/******************************************************************************* 
/* Widgets
/******************************************************************************/
.ipsTabPane > .navigation > .widgets > div > .title {
    font-family: LCARSGTJ3;
    font-size: 45px;
    font-weight:bold;
}
.ipsTabPane > .navigation > .widgets {
    float: right;
    height: 36px;
    padding: 2px 0px;
    min-width: 340px;
}
.ipsTabPane > .navigation > .widgets > div {
    float: left;
    height: 32px;
    line-height: 32px;
    text-align: right;
    white-space: nowrap;
    /*
    margin-left: 0px;
    margin-right: 0px;
   padding-left: 0px;
   padding-right: 0px;
    */
}
.ipsTabPane > .navigation > .widgets > div > .icon {
    display: none;
}
*******************************************************************************/
.ipsPanel {
    bottom: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    left: 3px;
}
/* Graphensymbol ausblenden */

.ipsCategory>.container .content .rightSide>.graphLink {
display: none;
}
.ipsCategory > .container .content .link > .ipsIconGraph {
display: none;

}

/* --------------------------------------------
* BUTTONS
* --------------------------------------------
*/

/* IP-Symcon override */
.ipsCategory > .container .content .visual > .text {
    line-height: normal;
}
.td {
    display: block !important;
    float: left;
}

.ipsCategory > .container .content .visual > div {

  vertical-align:   top;

} 
/* custom */
.ipsCategory > .container .content .title {
    border-left: 4px solid #000000;
    line-height: 41px;
}
.tr div {
    height: 40px;
    margin-top: -10px;
}
.tr div.icon {
    margin-top: -6px;
}
.td .enum, .td .text {
    min-width: 140px;
}
.ipsWebFront .ipsContainer .content .ipsContainer .ipsContainer .content .ipsContainer .ipsContainer .tr {
    background-color: #336699;
    border: medium none;
    color: #000000;
    display: block;
    font-size: 18px;
    height: 20px;
    margin: 5px;
    overflow: hidden;
    text-align: right;
    text-decoration: none;
    border-radius: 20px;
    padding: 10px;
    width: 91%;
}
.ipsCategory > .container .content .visual {
    margin-right: 12px;
}
.ipsCategory > .container .content .visual, .ipsCategory > .container .content .link {
    height: 20px;
    width: auto; /* für überlange button-reihen, 120px, min-width für An/Aus: 85px */
    float: right;
    margin-top: 0;
}
.ipsCategory > .container .content .link {
    background-color: #336699;
    float: right;
    width: 40px;
}
.ipsCategory > .container .content .link > .ipsIconGraph {
    font-size: 32px;
    height: 40px;
    margin-top: -10px;
    padding: 2px;
    border-left: 4px solid #000000;
    border-right: 4px solid #000000;
}
.ipsCategory > .container .throbber {
    width: 28px;
}
.ipsWebFront .ipsContainer .content .ipsContainer .ipsContainer .content .ipsContainer .ipsContainer .content .ipsContainer.text {
    height: 40px;
}
.ipsCategory > .container .content .visual > .text {
    background: none repeat scroll 0 0 #000000;
    color: #FF9900;
    display: block;
    float: left;
    height: 40px;
    margin-top: -10px;
    padding: 2px;
    font-size: 30px;
}

/* --------------------------------------------
* An/Aus Schalter
* --------------------------------------------
*/
.ipsCategory > .container .content .visual > .enum {
    width: 100%;
    height: 100%;
}
.ipsCategory > .container .content .visual > .enum > div,
.ipsCategory > .container .content .visual > .selector > div {
    height: 40px;
    margin-top: 0px;
    font-size: 32px;
}
.ipsCategory > .container .content .visual .throbber {
    margin-top: -10px;
}
.ipsCategory > .ipsContainer > .childContainers > .container .content .visual > .enum > div {
    margin-top: -3px;
}
.ipsCategory > .container .content .visual > .enum > div:first-child {
    border-right: 4px solid #000000;
}
.ipsCategory > .container .content .visual > .enum > div,
.ipsCategory > .container .content .visual > .selector > div,
.ipsCategory > .container .extended > .textBox > div,
.ipsCategory > .container .content .visual > .text.colored {
    line-height: 40px;
}
.ipsCategory > .container .content .visual > .enum > div,
.ipsCategory > .container .content .visual > .selector > div,
.ipsCategory > .container .extended > .textBox > div {
    background-image: none;
    background-color: rgba(0,0,0,0.8);
}
.ipsCategory > .container .content .visual > .text.colored {
    background-image: none;
    padding: 0 0;
}
.ipsCategory > .container .content .visual > .enum > .selected,
.ipsCategory > .container .content .visual > .selector > .selected {
    background-color: #99CCFF;
}
/* Fix An/Aus Bug auf speziellen Seiten */
.ipsWebFront .ipsContainer .content .ipsContainer .ipsContainer .content .ipsContainer .ipsContainer .content .ipsContainer .ipsContainer.enum {
 height: 90%;
}
/* ----------------------------------------------------------------------------------------
* DIVERSES
* ----------------------------------------------------------------------------------------
*/
/* --------------------------------------------
* Wetterseite
* --------------------------------------------
*/
.ipsDWDReport .title {
    font-family: LCARSGTJ3;
    font-size: 32px;
}
.ipsDWDReport .text {
    font-size: 24px;
}
.ipsDWDReport .updated {
    font-size: 20px;
}
/* --------------------------------------------
* IPSCam
* --------------------------------------------
*/

.ipsCategory > .container .content .visual > .keyboardLink,
.ipsCategory > .container .content .visual > .chartLink,
.ipsCategory > .container .content .visual > .timerLink,
.ipsCategory > .container .content .visual > .runLink {
    margin-top: -10px;
}
.ipsCategory>.container .extended>.textBox,
.ipsCategory>.container .extended>.htmlBox,
.ipsCategory>.container .extended>.mailBox {
    border: 0 none;
    overflow: visible;
}


.ipsCategory > .container .content .visual > .slider > div > .background {
    background-image: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.08) 0px, rgba(255, 255, 255, 0.05) 4px, rgba(255, 255, 255, 0.05) 12px);
    height: 40px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.ipsCategory > .container .content .visual > .slider > div > .bar {
    background-color: rgba(255, 255, 255, 0.3);
    background-image: -moz-linear-gradient(center top , transparent 0px, rgba(0, 255, 255, 0.33) 4px, rgba(0, 0, 0, 0.33) 12px);
    border-color: rgba(255, 255, 255, 0.1);
    border-style: solid;
    border-width: 1px 0px;
    height: 40px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 0px;
}